/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

.hidden {
    display: none !important;
}

/* PC */
@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }

    .hide-on-pc {
        display: none;
    }
}

/* Tablet & Mobile*/
@media screen and (max-width: 991.98px) {
    .show-on-pc {
        display: none;
    }

    .header__inner {
        position: relative;
    }

    .mobile-menu-icon {
        height: 24px;
    }

    .header__logo,
    .header__logo--link {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        margin: 0;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s ease, visibility 0.25s ease;
    }

    .mobile-navbar {
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        padding: 40px;
        visibility: hidden;
        z-index: 3;
        transform: translateX(-100%);
        transition: transform 0.5s ease, visibility 0.25s ease;
    }

    .mobile-navbar__group {
        margin-top: 20px;
    }

    .mobile-navbar__link {
        display: block;
        color: #696d76;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.75;
        padding: 10px;
    }

    #menu-checkbox:checked ~ .mobile-navbar {
        transform: translateX(0);
        visibility: visible;
    }

    #menu-checkbox:checked ~ .menu-overlay {
        visibility: visible;
        opacity: 1;
    }

    .mobile-navbar__separate {
        border-top: 1px solid var(--primary-color);
    }

    .hero__inner {
        display: block;
    }

    .hero__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero__heading {
        font-size: 4.8rem;
    }

    .hero__desc {
        font-size: 1.6rem;
    }

    .hero__sub-desc {
        font-size: 1.2rem;
    }

    .hero__heading,
    .hero__desc,
    .hero__submit {
        width: 100%;
        max-width: 75%;
    }

    .hero__desc {
        text-align: justify;
    }

    .work__inner {
        justify-content: center;
    }

    .work__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .work-item__title,
    .work-item__desc {
        width: 100%;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .work-list {
        margin-top: 40px;
    }

    .one-card__inner {
        justify-content: center;
    }

    .feature__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature__heading {
        text-align: center;
    }

    .feature__desc {
        text-align: justify;
    }

    .feature__heading,
    .feature__desc,
    .feature__list {
        width: 100%;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .testimonial__message-wrapper {
        padding: 50px 2px 2px;
    }

    .testimonial__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog__header {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog__content {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog__heading,
    .blog__desc {
        width: 100%;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .blog__btn {
        margin-top: 50px;
    }

    .blog__group {
        margin-top: 70px;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .blog-item {
        max-width: 100%;
        width: 100%;
        padding: 18px;
    }

    .blog-item__media {
        max-width: 100px;
        max-height: 100px;
        border-radius: 12px;
        flex-shrink: 0;
        overflow: hidden;
    }

    .blog-item__date {
        font-size: 1rem;
    }

    .blog-item__heading {
        margin-top: 5px;
        font-size: 1.4rem;
    }

    .blog-item__link {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .footer__row {
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        row-gap: 60px;
    }

    .footer__link,
    .footer__topic {
        font-size: 1.6rem;
    }

    .footer__input {
        max-width: 250px;
    }

    .footer__btn {
        flex: 1;
        font-size: 1.4rem;
    }

    .footer__address {
        font-size: 1.6rem;
        max-width: 340px;
    }

    .footer__phone {
        margin-left: 120px;
    }
}

/* Table */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile & small mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }
    .header__inner {
        height: 60px;
        min-height: 60px;
    }

    .mobile-navbar {
        inset: 0 25% 0 0;
        padding: 30px;
    }

    .hero__btn--mobile {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .arrow__icon {
        height: 30px;
    }

    .hero__heading,
    .hero__desc,
    .hero__submit {
        max-width: 90%;
    }

    .work-item__title,
    .work-item__desc {
        max-width: 90%;
    }

    .feature__heading,
    .feature__desc,
    .feature__list {
        max-width: 90%;
    }

    .blog__heading,
    .blog__desc {
        max-width: 90%;
    }

    .blog__group {
        margin-top: 70px;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .blog-item {
        max-width: 100%;
        width: 100%;
        padding: 18px;
    }

    .blog-item__media {
        max-width: 100px;
        max-height: 100px;
        border-radius: 12px;
        flex-shrink: 0;
        overflow: hidden;
    }

    .blog-item__date {
        font-size: 1rem;
    }

    .blog-item__heading {
        margin-top: 5px;
        font-size: 1.4rem;
    }

    .blog-item__link {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .download__inner {
        padding: 30px 20px;
    }

    .download__heading {
        font-size: 3.5rem;
    }

    .download__desc {
        font-size: 1.4rem;
    }

    .download__cta {
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        column-gap: 0;
        padding: 0;
    }

    .cta__box {
        flex: 0;
        width: 100%;
        flex-shrink: 0;
        padding: 10px;
    }

    .download__decor {
        height: 80px;
    }

    .download__decor--up-left {
        top: 60px;
        left: 22px;
    }

    .download__decor--bot-left {
        bottom: 166px;
        left: 60px;
    }

    .download__decor--up-right {
        top: 60px;
        right: 22px;
    }

    .download__decor--bot-right {
        bottom: 166px;
        right: 60px;
    }

    .footer__row {
        grid-template-columns: 1fr;
        justify-content: space-between;
        row-gap: 40px;
        column-gap: 0;
    }

    .footer__address,
    .footer__link,
    .footer__topic {
        font-size: 1.6rem;
    }

    .footer__cta {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .footer__input {
        width: 70%;
        margin: 0;
    }

    .footer__btn {
        flex: 1;
        flex-shrink: 1;
        margin: 0;
    }

    .footer__bottom-link {
        font-size: 1.4rem;
    }

    .footer__phone {
        margin-left: 30px;
    }
}

/* Small mobile */
@media screen and (max-width: 575.98px) {
    .hide-on-mobile {
        display: none;
    }
}
