* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
    --secondary-color: #212832;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background: #fff;
}

/*================= Common ==================*/
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

a {
    text-decoration: none;
    color: none;
}

.highlight.highlight--primary {
    color: var(--primary-color);
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

button.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    width: 149px;
    height: 58px;
    border-radius: 8px;
    background: #212832;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 58px;
    transition: background-color 0.25s ease;
}

.btn:hover {
    background-color: #7264d6;
}

.btn:active {
    opacity: 0.9;
}

.btn.btn--small {
    width: 113px;
    height: 52px;
    border-radius: 6px;
    line-height: 52px;
}

.btn.btn--primary {
    background: var(--primary-color);
}

.btn.btn--primary:hover {
    background-color: var(--secondary-color);
}

.section__tag {
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    display: flex;
    align-items: center;
}

.section__tag::before {
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
    margin-right: 12px;
}

.section__heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

/* visa card */
.visa-card {
    position: relative;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);
    padding: 16px;
    color: #fff;
    overflow: hidden;
    z-index: 0;
}

.visa-card.visa-card--large {
    width: 482px;
    height: 322px;
    padding: 38px;
}

.card__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-text {
    color: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.visa-card--large .card-text {
    font-size: 2.4rem;
}

.visa__balance {
    color: inherit;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: -2px;
    line-height: normal;
}

.visa-card--large .visa__balance {
    font-size: 3.2rem;
    margin-top: -6px;
}

.visa-info {
    display: grid;
    grid-template-columns: 26.7% auto;
    column-gap: 12px;
    row-gap: 5px;
    align-content: flex-start;
    margin-top: 32px;
}

.visa-card--large .visa-info {
    grid-template-columns: 28% auto;
    column-gap: 26px;
    row-gap: 5px;
    margin-top: 98px;
}

.visa-info__title {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.visa-card--large .visa-info__title {
    font-size: 2rem;
}

.visa-info__desc {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
}

.visa-card--large .visa-info__desc {
    font-size: 2.2rem;
}

.visa__decor {
    position: absolute;
    z-index: -1;
}

.visa__decor--left {
    top: 0;
    left: 0;
}

.visa__decor--right {
    bottom: 0;
    right: 0;
}

/* Feature content */
.feature__heading,
.feature__desc {
    max-width: 470px;
}

.feature__heading {
    margin-top: 12px;
}

.feature__desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.feature__list {
    margin-top: 28px;
}

.content-item {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.content-item + .content-item {
    margin-top: 18px;
}

.content-item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #7264d6;
    border-radius: 50%;
}

.feature__btn {
    margin-top: 38px;
}

/*================= Header ==================*/
.header {
    margin-top: 34px;
    padding: 8px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo {
    max-width: 102.68px;
    height: auto;
    margin-right: 46px;
}

.nav-bar__group {
    display: flex;
    align-items: center;
}

.header__login,
.nav-bar__link {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    position: relative;
}

.header__login {
    color: #212832;
    font-weight: 600;
}

.header__login:hover {
    color: #7264d6;
}

.nav-bar__link {
    padding: 8px 24px;
}

.nav-bar__link--active,
.nav-bar__link:hover {
    color: #212832;
    text-shadow: -0.2px 0px 0px #212832, 0.2px 0.2px 0px;
}

.nav-bar__link--active::after {
    position: absolute;
    inset: auto 24px 4px 24px;
    content: "";
    width: 47px;
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
}

.header__cta {
    margin-left: auto;
}

.header__sign-up {
    margin-left: 28px;
}

/*================= Hero ==================*/
.hero {
    padding-top: 68px;
    padding-bottom: 80px;
}

.header__logo {
    display: block;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 160px;
}

.hero__heading {
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
    max-width: 500px;
    margin-top: 12px;
}

.hero__desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    margin-top: 20px;
    max-width: 540px;
}

.hero__submit {
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0px 8px 0 23px;
    transition: box-shadow 0.3s ease;
}

.hero__submit:focus-within {
    outline: 2px solid var(--primary-color);
}

.hero__input {
    flex-shrink: 0;
    flex: 1;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    padding: 16px 0;
    border: none;
    outline: none;
}

.hero__input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.hero__btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.hero__sub-desc {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    margin-top: 20px;
}

/* Phone */
.hero__media {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.phone {
    position: relative;
    user-select: none;
    transition: transform 0.5s ease-in-out;
    z-index: 0;
}

.phone:hover .phone__frame {
    transform: scale(1.1);
}

.phone:hover::before {
    transform: translateX(-50%) scale(1.1) translateY(-24px);
}

.phone:hover .phone__deposit {
    transform: translateX(-40%) translateY(20%);
}

.phone:hover .phone__secure-fund {
    transform: translateX(40%) translateY(-20%);
}

.phone::before {
    content: "";
    display: block;
    width: 144px;
    height: 36px;
    position: absolute;
    border-radius: 0px 0px 18px 18px;
    background-color: #3c2f60;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}

.phone__frame {
    width: 296px;
    height: 562px;
    border-radius: 40px;
    border: 12px solid #212832;
    background-color: #fff;
    padding: 40px 11px 35px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

/* phone Wrap up */
.phone__wrap-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.phone__transaction {
    color: #31456a;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
}

.phone__service {
    margin-top: 28px;
}

.service-card {
    display: flex;
    align-items: center;
}

.service-card {
    margin-top: 28px;
}

.service-card__icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}

.icon__income--blue {
    background-color: #4ab5e31a;
    color: #4ab5e3;
}

.icon__plane--red {
    background-color: #da64641a;
    color: #da6464;
}

.icon__income--green {
    background-color: #439f901a;
    color: #439f90;
}

.icon__wallet--purple {
    background-color: #7264d61a;
    color: #7264d6;
}

.service-card__title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.service-card__desc {
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 6px;
}

.service-card__data {
    margin-left: auto;
    text-align: end;
}

/* media interest */
.media-interest {
    width: 130px;
    height: 130px;
    background-color: #da6464;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 127px;
    transition: transform 0.5s;
}

.media-interest:hover {
}

.media-interest:hover .media-interest__num,
.media-interest:hover .media-interest__text {
}

.media-interest__text,
.media-interest__num {
    color: #fff;
    transition: transform 0.5s;
}

.media-interest__num {
    font-size: 4.4rem;
    font-weight: 600;
}

.media-interest__text {
    font-size: 1.6rem;
    font-weight: 400;
}

.phone__deposit,
.phone__secure-fund {
    position: absolute;
    transition: transform 0.6s ease-in;
}

.phone__deposit {
    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    padding: 14px 10px;
    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    top: 113px;
    left: -100px;
}

.deposit__text,
.deposit__cash {
    font-size: 1.4rem;
    line-height: 1;
}

.deposit__text {
    color: #31456a;
    font-weight: 600;
    margin-left: 8px;
}

.deposit__cash {
    color: #4ab5e3;
    font-weight: 400;
    margin-left: auto;
}

.phone__secure-fund {
    display: flex;
    align-items: center;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    color: #fff;
    padding: 20px 14px;
    bottom: 61px;
    right: -74px;
}

.secure__icon {
    margin-right: 11px;
}

.secure__cash {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.secure__text {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 5px;
}

/*================= How It Work ==================*/
.work {
    padding: 80px 0;
}

.work__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work__media {
    width: 470px;
    flex-shrink: 0;
    background: url(../img/how-it-work-bg.png) no-repeat bottom center / contain;
    padding: 0px 7px;
    position: relative;
    user-select: none;
}

.work__img {
    width: 100%;
    display: block;
}

.work__logo {
    position: absolute;
    top: 76px;
    right: 62px;
}

.work-congratulation {
    position: absolute;
    bottom: 96px;
    right: -100px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    padding: 15px;
}

.work-congratulation__icon {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.work-congratulation__title {
    color: #212832;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.work-congratulation__desc {
    color: #696d76;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

/* work content */
.work__heading {
    margin-top: 12px;
}

.work-list {
    counter-reset: step;
    margin-top: 70px;
}

.work-item {
    margin-top: 30px;
}

.work-item__title {
    counter-increment: step;
    position: relative;
    text-indent: 24px;
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work-item__title::before {
    content: counter(step) ".";
    position: absolute;
    left: -24px;
    top: 0;

    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work-item__desc {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 16px;
}

.work-item__title,
.work-item__desc {
    width: 471px;
}

/*================= One card ==================*/
.one-card {
    padding: 80px 0;
}

.one-card__inner {
    display: flex;
    column-gap: 130px;
}
/*one card media */
.one-card__media {
    user-select: none;
    margin-top: 86px;
}

.one-card__visa-wrap {
    position: relative;
}

.one-card__upper-box {
    position: absolute;
    top: -48px;
    right: -88px;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    padding: 23px 13px;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.upper-box__icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #da6464;
    background: #da64641a;
}

.upper-box__info {
    margin-left: 14px;
}

.upper-box__title {
    color: #212832;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

.upper-box__desc {
    color: #696d76;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    margin-top: 4px;
}

.upper-box__money {
    color: #212832;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.upper-box__data {
    margin-left: auto;
    text-align: end;
}

.one-card__lower-box {
    position: absolute;
    bottom: -55px;
    right: -88px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
    padding: 15px;
}

.lower-box__icon {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    color: #439f90;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-box__title {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;
}

.lower-box__money {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
    margin-top: 6px;
}

/*================= method ==================*/
.method {
    padding: 80px 0;
}

.method__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.method__media {
    width: 470px;
    flex-shrink: 0;
    background: url(../img/one-method-bg.png) no-repeat bottom center / contain;
    padding: 0px 28px;
    position: relative;
    z-index: 0;
    user-select: none;
}

.method__img {
    width: 100%;
    display: block;
}

.method__cash {
    position: absolute;
    bottom: 222px;
    right: -100px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #7264d6;
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.1);
}

.method__board {
    position: absolute;
    bottom: 57px;
    right: -74px;
    z-index: 1;
    padding: 28px;
    width: 281px;
    height: 220px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 40px 48px rgba(0, 0, 0, 0.1);
}

.board__title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.method__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 20px;
}

.method__item {
    /* display: block; */
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background-color: #f2f2fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.method__item:hover .method__icon-payment {
    transform: scale(1.1);
}

.method__add-item {
    background-color: #f9ea63;
    color: #212832;
}

.method__add-item:hover {
    opacity: 0.9;
}

.method__icon-payment {
    transition: transform 0.25s ease;
}

/*================= testimonial ==================*/
.testimonial {
    padding: 80px 0;
}

.testimonial__message-wrapper {
    display: flex;
    align-items: center;
    column-gap: 30px;
    overflow: hidden;
    padding: 2px 2px;
}

.testimonial__item {
    flex-shrink: 0;
}

.testimonial__tag {
    justify-content: center;
}

.testimonial__heading {
    text-align: center;
    margin-top: 12px;
}

.testimonial__desc {
    text-align: center;
    width: 435px;
    margin: 18px auto 70px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.testimonial-box {
    display: inline-block;
    padding: 42px 28px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 568px;
    position: relative;
    z-index: 0;
    filter: drop-shadow(1px 0 0px #dfe2e8) drop-shadow(-1px 0 0px #dfe2e8)
        drop-shadow(0 1px 0px #dfe2e8) drop-shadow(0 -1px 0px #dfe2e8);
}

.testimonial-box__triangle {
    position: absolute;
    bottom: -59px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 61px solid #fff;
    z-index: 1;
}

.testimonial-box:hover {
    border: none;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.testimonial-box__message {
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.545;
}

.testimonial__profile {
    margin-top: 96px;
    max-width: 568px;
}

.testimonial__media {
    margin: 0 auto;
    max-width: 104px;
    max-height: 104px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.testimonial__item:nth-of-type(odd) .testimonial__media {
    background-color: #4ab5e3;
}

.testimonial__item:nth-of-type(even) .testimonial__media {
    background-color: #439f90;
}

.testimonial__avatar {
    width: 100%;
}

.testimonial__name {
    margin-top: 20px;
    color: #070052;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.384;
}

.testimonial__job {
    margin-top: 2px;
    color: #696d76;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.testimonial-control {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.testimonial-control__block {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}

.testimonial-control__block + .testimonial-control__block {
    margin-left: 12px;
}

.testimonial-control--active {
    background-color: #7264d6;
    border-color: #7264d6;
}
/*================= blog ==================*/
.blog {
    padding: 80px 0;
}

.blog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__heading {
    margin-top: 6px;
}

.blog__desc {
    max-width: 435px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 18px;
}

.blog__btn {
    width: 123px;
}

.blog__group {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.blog-item {
    width: 570px;
    height: 216px;
    border-radius: 12px;
    background: #fff;
    padding: 28px;
    display: flex;
    align-items: center;
    column-gap: 22px;
    box-shadow: 0px 0px 0px 1px #dfe2e8, 0px 0px 0px 1px;
}

.blog-item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    border: none;
}

.blog-item:hover .blog-item__img {
    transform: scale(1.1);
}

.blog-item__media {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    flex-shrink: 0;
    overflow: hidden;
}

.blog-item__img {
    width: 100%;
    transition: transform 0.25s ease;
}

.blog-item__date {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.blog-item__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-top: 10px;
    word-break: keep-all;
}

.blog-item__link {
    display: block;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.625;
    margin-top: 20px;
}

.blog-item__link:visited {
    color: #7264d6;
}
/*================= download ==================*/
.download {
    padding: 80px 0 100px;
}

.download__inner {
    position: relative;
    padding: 100px 0;
    border-radius: 24px;
    background: #7264d6;
    text-align: center;
    z-index: 0;
}

.download__tag {
    justify-content: center;
    color: #fff;
}

.download__tag::before {
    background-color: #fff;
}

.download__heading {
    color: #fff;
    margin-top: 12px;
}

.download__desc {
    margin: 18px auto 0;
    max-width: 435px;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.download__cta {
    margin: 38px auto 0;
    max-width: 435px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
    padding: 0 28px;
}

.cta__box {
    flex: 1;
    min-height: 64px;
    border-radius: 6px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7264d6;
    transition: background-color 0.25s ease, color 0.2s ease;
}

.cta__box:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.download__decor {
    position: absolute;
    z-index: -1;
}

.download__decor--up-left {
    top: 49px;
    left: 112px;
}

.download__decor--bot-left {
    bottom: 49px;
    left: 166px;
}

.download__decor--up-right {
    top: 49px;
    right: 112px;
}

.download__decor--bot-right {
    bottom: 49px;
    right: 166px;
}

/*================= footer ==================*/
.footer-content {
    background: #fafbff;
    padding: 100px 0 28px;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    column-gap: 163px;
    margin-bottom: 54px;
}

.footer__topic {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-bottom: 24px;
}

.footer__link-holder {
    margin-top: 12px;
}

.footer__link {
    display: block;
    color: #6a6e78bf;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__address {
    color: #6a6e78bf;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    max-width: 371px;
}

.footer__topic--lower {
    margin-top: 48px;
}

.footer__cta {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer__input {
    width: 270px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #8e919a;
    padding: 12px;
    outline: none;
    color: var(--primary-color);
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.footer__input::placeholder {
    color: #8e919ab3;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* Ghi đè autofill */
input:-webkit-autofill {
    -webkit-text-fill-color: var(--primary-color) !important;
    transition: background-color 9999s ease-out, color 9999s ease-out;
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.footer__bottom-link {
    position: relative;
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.footer__bottom-link::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    content: "";
    display: block;
    height: 1px;
    background-color: #6a6e78;
}

.footer__phone {
    margin-left: 100px;
}

.footer__copy-right {
    padding: 28px 0;
    background: #7264d6;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
